//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 29 20:45:11 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "io_button(1)" LOCATE = SITE "P140" LEVEL 1;
COMP "io_button[0]" LOCATE = SITE "P137" LEVEL 1;
COMP "io_button[2]" LOCATE = SITE "P139" LEVEL 1;
COMP "io_button[3]" LOCATE = SITE "P142" LEVEL 1;
COMP "io_button[4]" LOCATE = SITE "P138" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "io_dip(2)" LOCATE = SITE "P118" LEVEL 1;
COMP "io_dip(3)" LOCATE = SITE "P119" LEVEL 1;
COMP "io_dip(4)" LOCATE = SITE "P116" LEVEL 1;
COMP "io_dip(5)" LOCATE = SITE "P117" LEVEL 1;
COMP "io_dip(6)" LOCATE = SITE "P114" LEVEL 1;
COMP "io_dip(7)" LOCATE = SITE "P115" LEVEL 1;
COMP "io_dip(8)" LOCATE = SITE "P112" LEVEL 1;
COMP "io_dip(9)" LOCATE = SITE "P111" LEVEL 1;
COMP "io_dip[0]" LOCATE = SITE "P120" LEVEL 1;
COMP "io_dip[1]" LOCATE = SITE "P121" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "io_led[0]" LOCATE = SITE "P97" LEVEL 1;
COMP "io_led[1]" LOCATE = SITE "P98" LEVEL 1;
COMP "io_led[2]" LOCATE = SITE "P94" LEVEL 1;
COMP "io_led[3]" LOCATE = SITE "P95" LEVEL 1;
COMP "io_led[4]" LOCATE = SITE "P92" LEVEL 1;
COMP "io_led[5]" LOCATE = SITE "P93" LEVEL 1;
COMP "io_led[6]" LOCATE = SITE "P87" LEVEL 1;
COMP "io_led[7]" LOCATE = SITE "P88" LEVEL 1;
COMP "io_led[8]" LOCATE = SITE "P84" LEVEL 1;
COMP "io_led[9]" LOCATE = SITE "P85" LEVEL 1;
COMP "io_seg[0]" LOCATE = SITE "P5" LEVEL 1;
COMP "io_seg[1]" LOCATE = SITE "P8" LEVEL 1;
COMP "io_seg[2]" LOCATE = SITE "P144" LEVEL 1;
COMP "io_seg[3]" LOCATE = SITE "P143" LEVEL 1;
COMP "io_seg[4]" LOCATE = SITE "P2" LEVEL 1;
COMP "io_seg[5]" LOCATE = SITE "P6" LEVEL 1;
COMP "io_seg[6]" LOCATE = SITE "P1" LEVEL 1;
COMP "io_seg[7]" LOCATE = SITE "P141" LEVEL 1;
COMP "io_sel[0]" LOCATE = SITE "P9" LEVEL 1;
COMP "io_sel[1]" LOCATE = SITE "P10" LEVEL 1;
COMP "io_sel[2]" LOCATE = SITE "P7" LEVEL 1;
COMP "io_sel[3]" LOCATE = SITE "P12" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "button_up" LOCATE = SITE "P58" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led[4]" LOCATE = SITE "P127" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "led[6]" LOCATE = SITE "P124" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
COMP "io_dip(10)" LOCATE = SITE "P105" LEVEL 1;
COMP "io_dip(11)" LOCATE = SITE "P104" LEVEL 1;
COMP "io_dip(12)" LOCATE = SITE "P102" LEVEL 1;
COMP "io_dip(13)" LOCATE = SITE "P101" LEVEL 1;
COMP "io_dip(14)" LOCATE = SITE "P100" LEVEL 1;
COMP "io_dip(15)" LOCATE = SITE "P99" LEVEL 1;
COMP "io_dip(17)" LOCATE = SITE "P78" LEVEL 1;
COMP "io_dip(19)" LOCATE = SITE "P74" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "button_right" LOCATE = SITE "P79" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "outled" LOCATE = SITE "P51" LEVEL 1;
COMP "io_led[10]" LOCATE = SITE "P82" LEVEL 1;
COMP "io_led[11]" LOCATE = SITE "P83" LEVEL 1;
COMP "io_led[20]" LOCATE = SITE "P22" LEVEL 1;
COMP "io_led[12]" LOCATE = SITE "P80" LEVEL 1;
COMP "io_led[21]" LOCATE = SITE "P23" LEVEL 1;
COMP "io_led[13]" LOCATE = SITE "P81" LEVEL 1;
COMP "io_led[22]" LOCATE = SITE "P24" LEVEL 1;
COMP "io_led[14]" LOCATE = SITE "P11" LEVEL 1;
COMP "io_led[23]" LOCATE = SITE "P26" LEVEL 1;
COMP "io_led[15]" LOCATE = SITE "P14" LEVEL 1;
COMP "io_led[16]" LOCATE = SITE "P15" LEVEL 1;
COMP "io_led[17]" LOCATE = SITE "P16" LEVEL 1;
COMP "io_led[18]" LOCATE = SITE "P17" LEVEL 1;
COMP "io_led[19]" LOCATE = SITE "P21" LEVEL 1;
COMP "button_stage_right" LOCATE = SITE "P66" LEVEL 1;
COMP "button_left" LOCATE = SITE "P75" LEVEL 1;
COMP "button_down" LOCATE = SITE "P67" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "button_stage_left" LOCATE = SITE "P57" LEVEL 1;
PIN led_grid/lookupwin/Mram__n06481_pins<20> = BEL
        "led_grid/lookupwin/Mram__n06481" PINNAME CLKAWRCLK;
PIN led_grid/lookupwin/Mram__n06481_pins<21> = BEL
        "led_grid/lookupwin/Mram__n06481" PINNAME CLKBRDCLK;
PIN led_grid/lookupfront/Mram__n0648_pins<10> = BEL
        "led_grid/lookupfront/Mram__n0648" PINNAME CLKAWRCLK;
TIMEGRP clk = BEL "led_grid/M_win_pos_xy_q_0" BEL "led_grid/M_win_pos_xy_q_1"
        BEL "led_grid/M_win_pos_xy_q_2" BEL "led_grid/M_win_pos_xy_q_3" BEL
        "led_grid/M_win_pos_xy_q_4" BEL "led_grid/M_win_pos_xy_q_5" BEL
        "led_grid/M_win_pos_xy_q_6" BEL "led_grid/M_win_pos_xy_q_7" BEL
        "led_grid/M_player_front_q_0" BEL "led_grid/M_player_front_q_1" BEL
        "led_grid/M_player_front_q_2" BEL "led_grid/M_player_front_q_3" BEL
        "led_grid/M_player_front_q_4" BEL "led_grid/M_player_front_q_5" BEL
        "led_grid/M_player_front_q_6" BEL "led_grid/M_player_front_q_7" BEL
        "led_grid/M_player_back_q_0" BEL "led_grid/M_player_back_q_1" BEL
        "led_grid/M_player_back_q_2" BEL "led_grid/M_player_back_q_3" BEL
        "led_grid/M_player_back_q_4" BEL "led_grid/M_player_back_q_5" BEL
        "led_grid/M_player_back_q_6" BEL "led_grid/M_player_back_q_7" BEL
        "led_grid/M_rst_ctr_q_0" BEL "led_grid/M_rst_ctr_q_1" BEL
        "led_grid/M_rst_ctr_q_2" BEL "led_grid/M_rst_ctr_q_3" BEL
        "led_grid/M_rst_ctr_q_4" BEL "led_grid/M_rst_ctr_q_5" BEL
        "led_grid/M_rst_ctr_q_6" BEL "led_grid/M_rst_ctr_q_7" BEL
        "led_grid/M_rst_ctr_q_8" BEL "led_grid/M_rst_ctr_q_9" BEL
        "led_grid/M_rst_ctr_q_10" BEL "led_grid/M_rst_ctr_q_11" BEL
        "led_grid/M_ctr_q_0" BEL "led_grid/M_ctr_q_1" BEL "led_grid/M_ctr_q_2"
        BEL "led_grid/M_ctr_q_3" BEL "led_grid/M_ctr_q_4" BEL
        "led_grid/M_ctr_q_5" BEL "led_grid/M_bit_ctr_q_0" BEL
        "led_grid/M_bit_ctr_q_1" BEL "led_grid/M_bit_ctr_q_2" BEL
        "led_grid/M_bit_ctr_q_3" BEL "led_grid/M_bit_ctr_q_4" BEL
        "led_grid/M_pixel_ctr_q_0" BEL "led_grid/M_pixel_ctr_q_1" BEL
        "led_grid/M_pixel_ctr_q_2" BEL "led_grid/M_pixel_ctr_q_3" BEL
        "led_grid/M_pixel_ctr_q_4" BEL "led_grid/M_pixel_ctr_q_5" BEL
        "led_grid/M_pixel_ctr_q_6" BEL "led_grid/M_pixel_ctr_q_7" BEL
        "led_grid/M_state_q" PIN "led_grid/lookupwin/Mram__n06481_pins<20>"
        PIN "led_grid/lookupwin/Mram__n06481_pins<21>" PIN
        "led_grid/lookupfront/Mram__n0648_pins<10>" BEL "clk_BUFGP/BUFG" BEL
        "io_button_left_edge_detector/M_last_q" BEL
        "button_down_edge_detector/M_last_q" BEL
        "io_button_down_edge_detector/M_last_q" BEL "reset_cond/M_stage_q_3"
        BEL "reset_cond/M_stage_q_2" BEL "reset_cond/M_stage_q_1" BEL
        "reset_cond/M_stage_q_0" BEL
        "button_stage_left_edge_detector/M_last_q" BEL
        "button_stage_right_edge_detector/M_last_q" BEL
        "button_right_edge_detector/M_last_q" BEL
        "button_left_edge_detector/M_last_q" BEL
        "button_up_edge_detector/M_last_q" BEL
        "io_button_right_edge_detector/M_last_q" BEL
        "io_button_up_edge_detector/M_last_q" BEL
        "button_down_conditioner/M_ctr_q_0" BEL
        "button_down_conditioner/M_ctr_q_1" BEL
        "button_down_conditioner/M_ctr_q_2" BEL
        "button_down_conditioner/M_ctr_q_3" BEL
        "button_down_conditioner/M_ctr_q_4" BEL
        "button_down_conditioner/M_ctr_q_5" BEL
        "button_down_conditioner/M_ctr_q_6" BEL
        "button_down_conditioner/M_ctr_q_7" BEL
        "button_down_conditioner/M_ctr_q_8" BEL
        "button_down_conditioner/M_ctr_q_9" BEL
        "button_down_conditioner/M_ctr_q_10" BEL
        "button_down_conditioner/M_ctr_q_11" BEL
        "button_down_conditioner/M_ctr_q_12" BEL
        "button_down_conditioner/M_ctr_q_13" BEL
        "button_down_conditioner/M_ctr_q_14" BEL
        "button_down_conditioner/M_ctr_q_15" BEL
        "button_down_conditioner/M_ctr_q_16" BEL
        "button_down_conditioner/M_ctr_q_17" BEL
        "button_down_conditioner/M_ctr_q_18" BEL
        "button_down_conditioner/M_ctr_q_19" BEL
        "button_down_conditioner/sync/M_pipe_q_1" BEL
        "button_down_conditioner/sync/Mshreg_M_pipe_q_1" BEL
        "button_stage_left_conditioner/M_ctr_q_0" BEL
        "button_stage_left_conditioner/M_ctr_q_1" BEL
        "button_stage_left_conditioner/M_ctr_q_2" BEL
        "button_stage_left_conditioner/M_ctr_q_3" BEL
        "button_stage_left_conditioner/M_ctr_q_4" BEL
        "button_stage_left_conditioner/M_ctr_q_5" BEL
        "button_stage_left_conditioner/M_ctr_q_6" BEL
        "button_stage_left_conditioner/M_ctr_q_7" BEL
        "button_stage_left_conditioner/M_ctr_q_8" BEL
        "button_stage_left_conditioner/M_ctr_q_9" BEL
        "button_stage_left_conditioner/M_ctr_q_10" BEL
        "button_stage_left_conditioner/M_ctr_q_11" BEL
        "button_stage_left_conditioner/M_ctr_q_12" BEL
        "button_stage_left_conditioner/M_ctr_q_13" BEL
        "button_stage_left_conditioner/M_ctr_q_14" BEL
        "button_stage_left_conditioner/M_ctr_q_15" BEL
        "button_stage_left_conditioner/M_ctr_q_16" BEL
        "button_stage_left_conditioner/M_ctr_q_17" BEL
        "button_stage_left_conditioner/M_ctr_q_18" BEL
        "button_stage_left_conditioner/M_ctr_q_19" BEL
        "button_stage_left_conditioner/sync/M_pipe_q_1" BEL
        "button_stage_left_conditioner/sync/Mshreg_M_pipe_q_1" BEL
        "io_button_down_button_conditioner/M_ctr_q_0" BEL
        "io_button_down_button_conditioner/M_ctr_q_1" BEL
        "io_button_down_button_conditioner/M_ctr_q_2" BEL
        "io_button_down_button_conditioner/M_ctr_q_3" BEL
        "io_button_down_button_conditioner/M_ctr_q_4" BEL
        "io_button_down_button_conditioner/M_ctr_q_5" BEL
        "io_button_down_button_conditioner/M_ctr_q_6" BEL
        "io_button_down_button_conditioner/M_ctr_q_7" BEL
        "io_button_down_button_conditioner/M_ctr_q_8" BEL
        "io_button_down_button_conditioner/M_ctr_q_9" BEL
        "io_button_down_button_conditioner/M_ctr_q_10" BEL
        "io_button_down_button_conditioner/M_ctr_q_11" BEL
        "io_button_down_button_conditioner/M_ctr_q_12" BEL
        "io_button_down_button_conditioner/M_ctr_q_13" BEL
        "io_button_down_button_conditioner/M_ctr_q_14" BEL
        "io_button_down_button_conditioner/M_ctr_q_15" BEL
        "io_button_down_button_conditioner/M_ctr_q_16" BEL
        "io_button_down_button_conditioner/M_ctr_q_17" BEL
        "io_button_down_button_conditioner/M_ctr_q_18" BEL
        "io_button_down_button_conditioner/M_ctr_q_19" BEL
        "io_button_down_button_conditioner/sync/M_pipe_q_1" BEL
        "io_button_down_button_conditioner/sync/Mshreg_M_pipe_q_1" BEL
        "io_button_left_button_conditioner/M_ctr_q_0" BEL
        "io_button_left_button_conditioner/M_ctr_q_1" BEL
        "io_button_left_button_conditioner/M_ctr_q_2" BEL
        "io_button_left_button_conditioner/M_ctr_q_3" BEL
        "io_button_left_button_conditioner/M_ctr_q_4" BEL
        "io_button_left_button_conditioner/M_ctr_q_5" BEL
        "io_button_left_button_conditioner/M_ctr_q_6" BEL
        "io_button_left_button_conditioner/M_ctr_q_7" BEL
        "io_button_left_button_conditioner/M_ctr_q_8" BEL
        "io_button_left_button_conditioner/M_ctr_q_9" BEL
        "io_button_left_button_conditioner/M_ctr_q_10" BEL
        "io_button_left_button_conditioner/M_ctr_q_11" BEL
        "io_button_left_button_conditioner/M_ctr_q_12" BEL
        "io_button_left_button_conditioner/M_ctr_q_13" BEL
        "io_button_left_button_conditioner/M_ctr_q_14" BEL
        "io_button_left_button_conditioner/M_ctr_q_15" BEL
        "io_button_left_button_conditioner/M_ctr_q_16" BEL
        "io_button_left_button_conditioner/M_ctr_q_17" BEL
        "io_button_left_button_conditioner/M_ctr_q_18" BEL
        "io_button_left_button_conditioner/M_ctr_q_19" BEL
        "io_button_left_button_conditioner/sync/M_pipe_q_1" BEL
        "io_button_left_button_conditioner/sync/Mshreg_M_pipe_q_1" BEL
        "button_left_conditioner/M_ctr_q_0" BEL
        "button_left_conditioner/M_ctr_q_1" BEL
        "button_left_conditioner/M_ctr_q_2" BEL
        "button_left_conditioner/M_ctr_q_3" BEL
        "button_left_conditioner/M_ctr_q_4" BEL
        "button_left_conditioner/M_ctr_q_5" BEL
        "button_left_conditioner/M_ctr_q_6" BEL
        "button_left_conditioner/M_ctr_q_7" BEL
        "button_left_conditioner/M_ctr_q_8" BEL
        "button_left_conditioner/M_ctr_q_9" BEL
        "button_left_conditioner/M_ctr_q_10" BEL
        "button_left_conditioner/M_ctr_q_11" BEL
        "button_left_conditioner/M_ctr_q_12" BEL
        "button_left_conditioner/M_ctr_q_13" BEL
        "button_left_conditioner/M_ctr_q_14" BEL
        "button_left_conditioner/M_ctr_q_15" BEL
        "button_left_conditioner/M_ctr_q_16" BEL
        "button_left_conditioner/M_ctr_q_17" BEL
        "button_left_conditioner/M_ctr_q_18" BEL
        "button_left_conditioner/M_ctr_q_19" BEL
        "button_left_conditioner/sync/M_pipe_q_1" BEL
        "button_left_conditioner/sync/Mshreg_M_pipe_q_1" BEL
        "io_button_right_button_conditioner/M_ctr_q_0" BEL
        "io_button_right_button_conditioner/M_ctr_q_1" BEL
        "io_button_right_button_conditioner/M_ctr_q_2" BEL
        "io_button_right_button_conditioner/M_ctr_q_3" BEL
        "io_button_right_button_conditioner/M_ctr_q_4" BEL
        "io_button_right_button_conditioner/M_ctr_q_5" BEL
        "io_button_right_button_conditioner/M_ctr_q_6" BEL
        "io_button_right_button_conditioner/M_ctr_q_7" BEL
        "io_button_right_button_conditioner/M_ctr_q_8" BEL
        "io_button_right_button_conditioner/M_ctr_q_9" BEL
        "io_button_right_button_conditioner/M_ctr_q_10" BEL
        "io_button_right_button_conditioner/M_ctr_q_11" BEL
        "io_button_right_button_conditioner/M_ctr_q_12" BEL
        "io_button_right_button_conditioner/M_ctr_q_13" BEL
        "io_button_right_button_conditioner/M_ctr_q_14" BEL
        "io_button_right_button_conditioner/M_ctr_q_15" BEL
        "io_button_right_button_conditioner/M_ctr_q_16" BEL
        "io_button_right_button_conditioner/M_ctr_q_17" BEL
        "io_button_right_button_conditioner/M_ctr_q_18" BEL
        "io_button_right_button_conditioner/M_ctr_q_19" BEL
        "io_button_right_button_conditioner/sync/M_pipe_q_1" BEL
        "io_button_right_button_conditioner/sync/Mshreg_M_pipe_q_1" BEL
        "button_up_conditioner/M_ctr_q_0" BEL
        "button_up_conditioner/M_ctr_q_1" BEL
        "button_up_conditioner/M_ctr_q_2" BEL
        "button_up_conditioner/M_ctr_q_3" BEL
        "button_up_conditioner/M_ctr_q_4" BEL
        "button_up_conditioner/M_ctr_q_5" BEL
        "button_up_conditioner/M_ctr_q_6" BEL
        "button_up_conditioner/M_ctr_q_7" BEL
        "button_up_conditioner/M_ctr_q_8" BEL
        "button_up_conditioner/M_ctr_q_9" BEL
        "button_up_conditioner/M_ctr_q_10" BEL
        "button_up_conditioner/M_ctr_q_11" BEL
        "button_up_conditioner/M_ctr_q_12" BEL
        "button_up_conditioner/M_ctr_q_13" BEL
        "button_up_conditioner/M_ctr_q_14" BEL
        "button_up_conditioner/M_ctr_q_15" BEL
        "button_up_conditioner/M_ctr_q_16" BEL
        "button_up_conditioner/M_ctr_q_17" BEL
        "button_up_conditioner/M_ctr_q_18" BEL
        "button_up_conditioner/M_ctr_q_19" BEL
        "button_up_conditioner/sync/M_pipe_q_1" BEL
        "button_up_conditioner/sync/Mshreg_M_pipe_q_1" BEL
        "io_button_up_button_conditioner/M_ctr_q_0" BEL
        "io_button_up_button_conditioner/M_ctr_q_1" BEL
        "io_button_up_button_conditioner/M_ctr_q_2" BEL
        "io_button_up_button_conditioner/M_ctr_q_3" BEL
        "io_button_up_button_conditioner/M_ctr_q_4" BEL
        "io_button_up_button_conditioner/M_ctr_q_5" BEL
        "io_button_up_button_conditioner/M_ctr_q_6" BEL
        "io_button_up_button_conditioner/M_ctr_q_7" BEL
        "io_button_up_button_conditioner/M_ctr_q_8" BEL
        "io_button_up_button_conditioner/M_ctr_q_9" BEL
        "io_button_up_button_conditioner/M_ctr_q_10" BEL
        "io_button_up_button_conditioner/M_ctr_q_11" BEL
        "io_button_up_button_conditioner/M_ctr_q_12" BEL
        "io_button_up_button_conditioner/M_ctr_q_13" BEL
        "io_button_up_button_conditioner/M_ctr_q_14" BEL
        "io_button_up_button_conditioner/M_ctr_q_15" BEL
        "io_button_up_button_conditioner/M_ctr_q_16" BEL
        "io_button_up_button_conditioner/M_ctr_q_17" BEL
        "io_button_up_button_conditioner/M_ctr_q_18" BEL
        "io_button_up_button_conditioner/M_ctr_q_19" BEL
        "io_button_up_button_conditioner/sync/M_pipe_q_1" BEL
        "io_button_up_button_conditioner/sync/Mshreg_M_pipe_q_1" BEL
        "button_stage_right_conditioner/M_ctr_q_0" BEL
        "button_stage_right_conditioner/M_ctr_q_1" BEL
        "button_stage_right_conditioner/M_ctr_q_2" BEL
        "button_stage_right_conditioner/M_ctr_q_3" BEL
        "button_stage_right_conditioner/M_ctr_q_4" BEL
        "button_stage_right_conditioner/M_ctr_q_5" BEL
        "button_stage_right_conditioner/M_ctr_q_6" BEL
        "button_stage_right_conditioner/M_ctr_q_7" BEL
        "button_stage_right_conditioner/M_ctr_q_8" BEL
        "button_stage_right_conditioner/M_ctr_q_9" BEL
        "button_stage_right_conditioner/M_ctr_q_10" BEL
        "button_stage_right_conditioner/M_ctr_q_11" BEL
        "button_stage_right_conditioner/M_ctr_q_12" BEL
        "button_stage_right_conditioner/M_ctr_q_13" BEL
        "button_stage_right_conditioner/M_ctr_q_14" BEL
        "button_stage_right_conditioner/M_ctr_q_15" BEL
        "button_stage_right_conditioner/M_ctr_q_16" BEL
        "button_stage_right_conditioner/M_ctr_q_17" BEL
        "button_stage_right_conditioner/M_ctr_q_18" BEL
        "button_stage_right_conditioner/M_ctr_q_19" BEL
        "button_stage_right_conditioner/sync/M_pipe_q_1" BEL
        "button_stage_right_conditioner/sync/Mshreg_M_pipe_q_1" BEL
        "game/M_movement_fsm_q" BEL "game/regfile/M_loss_bool_q" BEL
        "game/regfile/M_win_bool_q" BEL "game/regfile/M_win_position_q_0" BEL
        "game/regfile/M_win_position_q_1" BEL
        "game/regfile/M_win_position_q_2" BEL
        "game/regfile/M_win_position_q_3" BEL
        "game/regfile/M_win_position_q_4" BEL
        "game/regfile/M_win_position_q_5" BEL
        "game/regfile/M_win_position_q_7" BEL "game/regfile/M_map_q_54" BEL
        "game/regfile/M_map_q_72" BEL "game/regfile/M_map_q_74" BEL
        "game/regfile/M_map_q_81" BEL "game/regfile/M_map_q_82" BEL
        "game/regfile/M_map_q_84" BEL "game/regfile/M_map_q_86" BEL
        "game/regfile/M_map_q_87" BEL "game/regfile/M_map_q_88" BEL
        "game/regfile/M_map_q_89" BEL "game/regfile/M_map_q_91" BEL
        "game/regfile/M_map_q_92" BEL "game/regfile/M_map_q_93" BEL
        "game/regfile/M_map_q_95" BEL "game/regfile/M_map_q_97" BEL
        "game/regfile/M_map_q_99" BEL "game/regfile/M_map_q_100" BEL
        "game/regfile/M_map_q_101" BEL "game/regfile/M_map_q_102" BEL
        "game/regfile/M_map_q_103" BEL "game/regfile/M_map_q_106" BEL
        "game/regfile/M_map_q_108" BEL "game/regfile/M_map_q_113" BEL
        "game/regfile/M_map_q_116" BEL "game/regfile/M_map_q_117" BEL
        "game/regfile/M_map_q_118" BEL "game/regfile/M_map_q_122" BEL
        "game/regfile/M_map_q_124" BEL "game/regfile/M_map_q_134" BEL
        "game/regfile/M_map_q_135" BEL "game/regfile/M_map_q_138" BEL
        "game/regfile/M_map_q_139" BEL "game/regfile/M_map_q_148" BEL
        "game/regfile/M_map_q_152" BEL "game/regfile/M_map_q_156" BEL
        "game/regfile/M_map_q_163" BEL "game/regfile/M_map_q_164" BEL
        "game/regfile/M_map_q_165" BEL "game/regfile/M_vertical_orientation_q"
        BEL "game/regfile/M_horizontal_orientation_q" BEL
        "game/regfile/M_portrait_orientation_q" BEL
        "game/regfile/M_player_position_q_0" BEL
        "game/regfile/M_player_position_q_1" BEL
        "game/regfile/M_player_position_q_2" BEL
        "game/regfile/M_player_position_q_3" BEL
        "game/regfile/M_player_position_q_4" BEL
        "game/regfile/M_player_position_q_5" BEL
        "game/regfile/M_player_position_q_6" BEL
        "game/regfile/M_player_position_q_7" BEL
        "game/regfile/M_player_position_q_8" BEL
        "game/regfile/M_player_position_q_9" BEL
        "game/regfile/M_player_position_q_10" BEL
        "game/regfile/M_player_position_q_11" BEL
        "game/regfile/M_player_position_q_12" BEL
        "game/regfile/M_player_position_q_13" BEL
        "game/regfile/M_player_position_q_14" BEL
        "game/regfile/M_player_position_q_15" BEL
        "game/map/M_map_fsm_q_FSM_FFd6" BEL "game/map/M_map_fsm_q_FSM_FFd5"
        BEL "game/map/M_map_fsm_q_FSM_FFd4" BEL
        "game/map/M_map_fsm_q_FSM_FFd3" BEL "game/map/M_map_fsm_q_FSM_FFd2"
        BEL "game/map/M_map_fsm_q_FSM_FFd1" BEL
        "button_right_conditioner/M_ctr_q_0" BEL
        "button_right_conditioner/M_ctr_q_1" BEL
        "button_right_conditioner/M_ctr_q_2" BEL
        "button_right_conditioner/M_ctr_q_3" BEL
        "button_right_conditioner/M_ctr_q_4" BEL
        "button_right_conditioner/M_ctr_q_5" BEL
        "button_right_conditioner/M_ctr_q_6" BEL
        "button_right_conditioner/M_ctr_q_7" BEL
        "button_right_conditioner/M_ctr_q_8" BEL
        "button_right_conditioner/M_ctr_q_9" BEL
        "button_right_conditioner/M_ctr_q_10" BEL
        "button_right_conditioner/M_ctr_q_11" BEL
        "button_right_conditioner/M_ctr_q_12" BEL
        "button_right_conditioner/M_ctr_q_13" BEL
        "button_right_conditioner/M_ctr_q_14" BEL
        "button_right_conditioner/M_ctr_q_15" BEL
        "button_right_conditioner/M_ctr_q_16" BEL
        "button_right_conditioner/M_ctr_q_17" BEL
        "button_right_conditioner/M_ctr_q_18" BEL
        "button_right_conditioner/M_ctr_q_19" BEL
        "button_right_conditioner/sync/M_pipe_q_1" BEL
        "button_right_conditioner/sync/Mshreg_M_pipe_q_1";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

