NET "button_up" LOC = P58;
NET "button_up" IOSTANDARD = LVTTL;
NET "button_up" PULLDOWN;
NET "button_down" LOC = P67;
NET "button_down" IOSTANDARD = LVTTL;
NET "button_down" PULLDOWN;
NET "button_left" LOC = P75;
NET "button_left" IOSTANDARD = LVTTL;
NET "button_left" PULLDOWN;
NET "button_right" LOC = P79;
NET "button_right" IOSTANDARD = LVTTL;
NET "button_right" PULLDOWN;
NET "button_reset" LOC = P81;
NET "button_reset" IOSTANDARD = LVTTL;
NET "button_reset" PULLDOWN;
NET "button_stage_left" LOC = P83;
NET "button_stage_left" IOSTANDARD = LVTTL;
NET "button_stage_left" PULLDOWN;
NET "button_stage_right" LOC = P85;
NET "button_stage_right" IOSTANDARD = LVTTL;
NET "button_stage_right" PULLDOWN;
